.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  gap: 30px;
  padding: 64px 5% 0;

  .top-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
    padding: 20px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name-age {
        align-items: center;
        display: flex;
        line-height: 32px;
        color: var(--text-color);

        :nth-child(1) {
          font-size: 3rem;
          font-weight: bold;
        }
        :nth-child(2) {
          font-size: 3rem;
        }
      }
      .location {
        width: 100%;
        line-height: 64px;
        font-size: 2.5rem;
        color: var(--text-color);

        p {
          width: 100%;
          line-height: 2.5rem;
        }
      }
    }
    .settings-btn {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      .edit {
        background-color: var(--accent-color-f);
        border: none;
        color: var(--bg-color);
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 24px;
        /*
        min-width: 176px;
        max-width: 200px;
        */
      }

      .edit:hover {
        color: var(--text-color);
        padding: 8px 12px;
      }

      .badge-account {
        background-color: var(--text-color);
        color: var(--bg-color);
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 24px;
        display: flex;
        align-items: center;
        min-width: 176px;
        max-width: 200px;
        justify-content: center;
        justify-items: center;
      }
    }
  }

  hr {
    height: 2px;
    background-color: var(--text-color);
    border: none;
    width: 100%;
    margin: 10px 0;
  }

  .description,
  .interests {
    width: 100%;
    line-height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-size: 64px;
      font-weight: bold;
      color: var(--text-color);
    }
    h3 {
      font-size: 40px;
      font-weight: bold;
      color: var(--text-color);
    }
    p {
      font-size: 24px;
      color: var(--text-color);
      line-height: 24px;
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 4px 16px;
      .badge {
        padding: 6px 20px 4px 14px;
        /*background: linear-gradient(135deg, var(--accent-color-f), var(--accent-color-m));*/
        background-color: var(--neutral-button-color);
        color: var(--text-color);
        border-radius: 10px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .profile-container {
    width: 90%;
    margin-inline: auto;
    padding: 16px;
    gap: 20px;

    hr {
      margin: 0px;
    }
    .top-section {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .profile-picture {
        width: 200px;
        height: 200px;
      }

      .user-info {
        align-items: center;

        .name-age {
          display: flex;
          align-items: center;
          font-size: 3rem;
          margin-top: 10px;
        }
        .location {
          font-size: 2.5rem;
          text-align: center;
        }

        p {
          line-height: 0.8rem;
        }
      }

      .settings-btn {
        align-items: center;
        margin: auto;
      }
    }

    .description,
    .interests {
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
      }
    }
    .description,
    .interests {
      justify-content: center;
      align-items: center;
    }
  }
}
