#Ebene_1{
  width: 400px;

}

button{
  width: 150px;
  margin: 30px;
  font-size: 30px;
  border-radius: 50px;
}
#register{
background-color: var(--accent-color-f);
border: var(--accent-color-f)

}

#login{
background-color: var(--accent-color-m);
border: var(--accent-color-m);

}
#slogan{
  margin:20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 530;

}
.card-body{
  width: 800px;
  margin: 0 auto;

}
