<app-spinner *ngIf="loading" class="spinner"></app-spinner>
<div class="matches-container">
  <h2>I TUOI MATCHES</h2>
  <div class="matches-grid">
    <div class="card" *ngFor="let match of matches()">
      <img
        src="{{match.otherUserProfile?.fotoProfilo || 'http://placedog.net/350'}}"
        alt="Foto profilo"
      />
      <p class="username">{{match.otherUserProfile?.nome}}</p>
      <div class="user-info">
        <p>{{timeAgo(match.timestamp)}}</p>
      </div>
      <button type="button" (click)="goToChat(match.id)">Chatta!</button>
      <a [routerLink]="['/dashboard/utente', match.otherUserProfile?.id]">
        Profilo
      </a>
    </div>
  </div>
</div>
