.bottom-navbar {
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 16px;
  gap: 64px;

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;

    li {
      width: 100%;
      font-size: 32px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 16px;

      svg {
        width: 32px;
        height: 32px;
        fill: var(--bg-color);

        &:hover {
          fill: var(--accent-color-f);
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}
