.no-chats-wrapper {
  margin-inline: auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  h1 {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
  }

  p {
    font-size: 32px;
    line-height: 0.7;
    text-align: center;
    font-style: italic;
  }

  :nth-child(3) {
    color: var(--accent-color-f);
  }

  button {
    padding: 8px 16px;
    border: none;
    background-color: var(--accent-color-f);
    color: var(--bg-color);
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      background-color: var(--accent-color-bright-f);
      transition: 0.2 ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  .no-chats-wrapper {
    width: 90%;
  }
}
