body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
}

:root {
  --bg-color: #f9f5ff;
  --text-color: #03254e;
  --accent-color-f: #e41196;
  --accent-color-m: #227dfc;
  --accent-color-dim-f: #bc4f94;
  --accent-color-dim-m: #5f8dcc;
  --accent-color-bright-f: #ff44bb;
  --accent-color-bright-m: #549bff;
  --text-color-active: #172392;
  --dark-button-color: #03254e;
  --neutral-button-color: rgb(158, 167, 180);
}

.theme-dark {
  --bg-color: #03254e;
  --text-color: #f9f5ff;
  --accent-color-f: #e41196;
  --accent-color-m: #227dfc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
}

app-profile,
app-matches,
app-messages,
app-explore-test,
app-settings,
app-chat,
app-no-chats {
  width: 100%;
  height: 100%;
  position: relative;
}
