body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
}

:root {
  --bg-color: #f9f5ff;
  --text-color: #03254e;
  --accent-color-f: #e41196;
  --accent-color-m: #227dfc;
}

.theme-dark {
  --bg-color: #03254e;
  --text-color: #f9f5ff;
  --accent-color-f: #e41196;
  --accent-color-m: #227dfc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
}

app-profile,
app-matches,
app-messages,
app-explore,
app-settings {
  width: 100%;
  height: 100%;
}
