<app-spinner *ngIf="loading()"></app-spinner>
<div class="explore-container">
  <!-- 🔄 LOADING STATE -->

  <!-- 📋 PLACEHOLDER CARD (array vuoto o fine swipe) -->
  <app-placeholder-card *ngIf="shouldShowPlaceholder"></app-placeholder-card>

  <!-- 🎯 EXPLORE CARD (utente corrente disponibile) -->
  <app-explore-card
    *ngIf="!loading() && CurrentUser"
    [canSuperLike]="isPremium()"
    [discoverableUser]="CurrentUser"
    (swipeEvent)="handleSwipe($event, CurrentUser.id)"
    (openProfile)="openProfileModal($event)"
  ></app-explore-card>
</div>

<div class="modal-overlay" *ngIf="showProfileModal">
  <app-profile-details
    *ngIf="CurrentUser && showProfileModal"
    [userId]="CurrentUser.id"
    (close)="closeProfileModal()"
  >
  </app-profile-details>
</div>
